mixin pokemonCard(pokemon)

    div.card
        div.card-header
            div.card-title=pokemon.name
            img.type-image(src=pokemon.type1 class='type')
            img.type-image(src=pokemon.type2 class='type')
        div.card-body
            div.card-details
                img.card-body-image(src=pokemon.image class='pokemon')
            div.moves
                div.move1
                    div.cost
                        img(src=pokemon.move1cost1 class = 'type')
                        img(src=pokemon.move1cost2 class='type')
                    div.move1-name=pokemon.move1name
                    div.move1-power=pokemon.move1power
                div.move2
                    div.cost
                        img(src=pokemon.move2cost1 class = 'type')
                        img(src=pokemon.move2cost2 class='type')
                        img(src=pokemon.move2cost3 class='type')
                    div.move2-name=pokemon.move2name
                    div.move2-power=pokemon.move2power
            div.stats
                div.weakness='weakness'
                img(src=pokemon.weakness class='type')
                div.resistance='resistance'
                img(src=pokemon.resistance class='type')
                div.retreat='retreat cost'
                img(src=pokemon.retreatcost class='type')